.drop-hover {
    display: none;
    position: fixed;
    background-color: rgb(192, 192, 192, 0.8);
    width: 252px;
    height: 202px;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
}

#frmFile {
    cursor: pointer;
    border: 4px dashed;
    height: 200px;
    margin: 12px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    overflow: auto;
}

#frmFile:hover {
    color: #2699E6;
}

.fa-file {
    font-size: 70px;
    padding-bottom: 30px
}
#mode-change-btn {
    cursor: pointer;
    padding: 5px 6px;
    position: absolute;
    bottom: 1%;
    right: 4%;
    border-radius: 7px;
}

.fa-sun, .fa-moon {
    font-size: 26px;
    height: 20px;
    font-weight: 900;
}

.fa-file {
    margin-right: 5px;
}

.dz-message .dz-button {
    display: none;
}

#menu-btn {
    font-size: 30px;
    cursor: pointer;
    color: #000000;
    position: fixed;
    top: 50px;
    right: 10px;
    border: 1px solid #E4E4E4;
    width: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
}



/* 로딩 화면 */

#loading-window {
    display: none;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    position: relative;
}

#loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    border: 10px solid #cccccc;
    border-top: 10px solid transparent;;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

.loading-logo {
    display: none;
    text-align: center;
    line-height: 100vh;
    font-weight: 900;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 탭 메뉴 */
#tab {
    color : black;
    display: none;
    height: 90%;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    transition: 0.1s;
    transform: translate(0%, 5%);
}

.tab-menu {
    display: flex;
    height: 50px;
    border: none;
    overflow: hidden;
    font-size: 0;
}


.tab-links {
    background-color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 27px;
    transition: 0.1s;
    font-size: 14px;
    font-weight: bold;
}

.tab-links:hover {
    background-color: #ddd;
}

.tab-links.active-white {
    border-top: 3px solid #2699E6;
    color: #2699E6;
    background-color: #fff;
    transition: 0.1s;
}

.tab-links.active-dark {
    border-top: 3px solid #2699E6;
    color: #2699E6;
    background-color: #666;
    transition: 0.1s;
}

.tab-content {
    display: none;
    padding: 6px 12px;
}

#tab-close:hover {
    color: #2699E6;
    background-color: #ddd;
}

.tab2-content {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
}

.tab2-content:hover {
    color: #2699E6;
}

.tab2-icon {
    font-size : 25px;
    margin-bottom: 2px;
}

/*최근 파일 목록*/

.recent-title {
    margin-left: 10px;
    font-weight: 900;
    font-size: 18px;
}

.recent-file-list {
    height: 470px;
    width: 252px;
    border: 2px solid;
    margin: 12px;
    overflow: auto;
}

.recent-file {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.recent-file:hover {
    color: #2699E6;
}

.fa-map {
    font-size: 30px;
}

.file-info {
    margin-left: 10px;
    font-weight: 600;
}

.file-info > .file-tit {
    font-size: 12px;
}

.file-info > .file-date {
    font-size: 10px;
}

.recent-file-list::-webkit-scrollbar {
    width: 12px;
}

.recent-file-list::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
}

.select-label {
    font-weight: 600;
    margin-right: 15px;
}

.map-style-change {
    margin: 10px;
}

#map-style {
    background-color: #ccc;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
}

.style-option {
    font-size: 14px;
    text-align: center;
    color : black;
    font-weight: 600;
}

#current-file {
    display: none;
}

#current-file-selected{
    background-color : #cccccc;
}

#current-file-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.leftBox {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 999;
}
/* 셀렉트 박스 스타일 */
.custom-select {
    display: inline-block;
    width: 200px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* 셀렉트 박스 표시 영역 */
.custom-select .select-display {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

/* 드롭다운 옵션 목록 */
.custom-select .options {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
}

/* 드롭다운 옵션 스타일 */
.custom-select .options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
}

.custom-select .options a:last-child {
    border-bottom: none;
}

/* 드롭다운 옵션 호버 효과 */
.custom-select .options a:hover {
    background-color: #f0f0f0;
}

/* 드롭다운 옵션 호버 효과 */
.custom-select .options a:hover {
    background-color: #f0f0f0;
}