#sidebar {
    display: none;
    height: 90%;
    width: 350px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 20px;
    transform: translate(0%, 5%);
}


.drop-hover {
    display: none;
    position: fixed;
    background-color: rgb(192, 192, 192, 0.8);
    width: 93%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
}

#frmFile {
    cursor: pointer;
    border: 4px dashed;
    height: 200px;
    margin: 12px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    overflow: auto;
}

.dz-preview {
    display: flex;
    width: auto;
    align-items: center;
    margin: 10px 0;
}

.dz-size {
    float: right;
    margin-right: 30px;
}
.dz-filename {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    display: inline-block;
}
.dz-details {
    font-size: 12px;
    white-space: nowrap;
    height: 18px;
}

.dz-success-mark, .dz-error-mark, .dz-error-message {
    display: none;
}

.fa-file {
    font-size: 70px;
    padding-bottom: 30px
}

.dz-image {
    width: 15px;
    height: 15px;
}

.dz-image > .fa-file {
    font-size: 15px;
    display: block!important;
}

.sidebar-menu-list {
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0 15px 20px;
    color: #343a40;
}

.dropzone .dz-remove:before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
}

.sidebar-menu-list:hover {
    background-color: #495057; /* Bootstrap secondary background color */
}

.sidebar-menu {
    margin-top: 15px;
}

#menu-btn {
    font-size: 30px;
    cursor: pointer;
    color: #000000;
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 999;
    border: 1px solid #E4E4E4;
    width: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
}
#mode-change-btn {
    cursor: pointer;
    padding: 5px 6px;
    position: absolute;
    bottom: 1%;
    right: 4%;
    border-radius: 7px;
}
.fa-sun, .fa-moon {
    font-size: 26px;
    height: 20px;
    font-weight: 900;
}

.dark-mode {
    background-color: #333 !important;
    color: #fff;
}

.fa-file {
    margin-right: 5px;
}

.sidebar-menu-list:hover {
    background-color: #343a40;
    color: #ffffff; /* Bootstrap secondary background color */
}

.dark-mode .sidebar-menu-list:hover {
    background-color: #ffffff!important;;
    color: #343a40; /* Bootstrap secondary background color */
}

.dz-message .dz-button {
    display: none;
}
.dz-remove {
    width: 15px;
    text-decoration: none;
    color: black;
}

#loading-window {
    display: none;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    position: relative;
}

#loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    border: 10px solid #cccccc;
    border-top: 10px solid transparent;;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}