.drop-hover {
    display: none;
    position: fixed;
    background-color: rgb(192, 192, 192, 0.8);
    width: 252px;
    height: 202px;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
}

#frmFile {
    border-radius: 2.5rem;
    border: 3px solid white;
    background: white;
    height: 200px;
    width: 275px;
    max-width: 21.875rem;
    margin: auto;
    box-shadow: 0 0.625rem 1.25rem #0000001a;
}

#frmFile:hover {
    color: #2699E6;
}

#lbShpData {
    width: 100%;
    height: 100%;
}
#lbShpData > #file_intro {
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#lbShpData > div h4{
    font-weight: bold;
}

#lbShpData > div h4,
#lbShpData > div p {
    text-align: center;
}

.comment {
    font-size: .75rem;
    opacity: .5;
}

.fa-file {
    font-size: 70px;
    padding-bottom: 30px
}
#mode-change-btn {
    cursor: pointer;
    padding: 5px 6px;
    position: absolute;
    bottom: 1%;
    right: 4%;
    border-radius: 7px;
}

.fa-sun, .fa-moon {
    font-size: 26px;
    height: 20px;
    font-weight: 900;
}

.fa-file {
    margin-right: 5px;
}

.dz-message .dz-button {
    display: none;
}

#menu-btn {
    font-size: 30px;
    cursor: pointer;
    color: #000000;
    position: fixed;
    top: 50px;
    right: 10px;
    border: 1px solid #E4E4E4;
    width: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
}



/* 로딩 화면 */

#loading-window {
    display: none;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    position: relative;
}

#loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    border: 10px solid #cccccc;
    border-top: 10px solid transparent;;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

.loading-logo {
    display: none;
    text-align: center;
    line-height: 100vh;
    font-weight: 900;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 탭 메뉴 */
#tab {
    color : #020202;
    display: none;
    height: 90%;
    width: 340px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    transition: 0.1s;
    transform: translate(0%, 5%);
}

.tab-menu {
    display: flex;
    height: 50px;
    border: none;
    overflow: hidden;
    font-size: 0;
}


.tab-links {
    background-color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    transition: 0.1s;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 110%;
}

.tab-links:hover {
    background-color: #ddd;
}

#tab-close {
    display: block;
    background-color: #ccc;
    font-size: 14px;
    padding: 14px 20px;
}

#tab-close:hover {
    background-color: #ddd;
}

.tab-links.active-white {
    color: #2699E6;
    background-color: #fff;
    transition: 0.1s;
}

.tab-links.active-dark {
    color: #2699E6;
    background-color: #666;
    transition: 0.1s;
}

.tab-content {
    display: none;
    height: 88%;
}

.padding-6-12 {
    padding: 6px 12px;
}


.tab2-content {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
}

.tab2-content:hover {
    color: #2699E6;
}

.tab2-icon {
    font-size : 25px;
    margin-bottom: 2px;
}

/*레이어 목록*/

.tab-title {
    margin-left: 10px;
    font-weight: 900;
    font-size: 16px !important;
}

.layer-list {
    height: 48%;
}

.layer-file-list {
    height: 100%;
    width: 100%;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    margin-top: 10px;
    overflow: auto;
}

.layer-file {
    align-items: center;
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.selected {
    background-color: #ddd;
}

.fa-map:hover, .file-info:hover, .savedelete > .file-date:hover {
    color: #2699E6;
}

.savedelete > .file-date:nth-child(2) {
    margin-left: 5px;
}

.savedelete {
    display: flex;
}

.fa-map {
    font-size: 30px;
}

.file-info {
    width: 205px;
    margin-left: 10px;
    font-weight: 600;
}

.file-info > .file-tit {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.savedelete > .file-date {
    font-size: 10px;
    font-weight: 600;
}

.layer-file-list::-webkit-scrollbar {
    width: 6px;
}

.layer-file-list::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
}

.select-label {
    font-weight: 600;
    margin-right: 10px;
}

.map-style-change {
    margin: 10px;
}

#map-style {
    background-color: #ccc;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
}

.style-option {
    font-size: 14px;
    text-align: center;
    color : #020202;
    font-weight: 600;
}

#current-file {
    display: none;
}

#current-file-selected{
    background-color : #cccccc;
}

.leftBox {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 999;
}
/* 셀렉트 박스 스타일 */
.custom-select {
    display: inline-block;
    width: 200px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* 셀렉트 박스 표시 영역 */
.custom-select .select-display {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

/* 드롭다운 옵션 목록 */
.custom-select .options {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
}

/* 드롭다운 옵션 스타일 */
.custom-select .options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
}

.custom-select .options a:last-child {
    border-bottom: none;
}

/* 드롭다운 옵션 호버 효과 */
.custom-select .options a:hover {
    background-color: #f0f0f0;
}

/* 드롭다운 옵션 호버 효과 */
.custom-select .options a:hover {
    background-color: #f0f0f0;
}

.btn-send {
    width: 100%;
    margin: 10px 0;
}

.property-list {
    padding: 8px;
    border: 1px solid;
}

.margin-top-10 {
    margin-top : 10px
}

.file-properties {
    height: 90%;
    overflow: auto;
    font-size: 14px;
}

.file-properties::-webkit-scrollbar {
    width: 8px;
}

.file-properties::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
}

.file-class {
    padding-left: 10px;
    border-bottom: 1px solid;
    display: flex;
    font-size: 14px;
}

.file-class-tit {
    font-weight: 600;
}

.file-class-tit:nth-child(1) {
    width: 50px;
}

.file-class-tit:nth-child(2) {
    width: 70px;
}


.file-class-tit:nth-child(3) {
    width: 105px;
}

.file-class-tit:nth-child(4) {
    width: 60px;
}

.info-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info-id {
    width: 55px;
}

.info-gcode {
    width: 70px;
}

.info-name {
    width: 110px;
}

.info-fname {
    width: 60px;
}

.file-info-item {
    padding: 5px 5px 5px 10px;
    display: flex;
}

.file-info-item:hover {
    color: #2699E6;
}

.layer-info {
    display: flex;
}

.finish-btn {
    margin-right: 10px;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
    float: right;
}

.modal-body > .file-class {
    width: 100%;
}

.modal-body > .file-class .file-class-tit {
    width: 25%;
}

.file-info-li {
    display: flex;
}

.info-btn {
    font-size: 12px;
    white-space: nowrap;
    border: 0;
    padding-right: 3px;
}