<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mapbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/872a12cba7.js" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- mapbox -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Dropzone -->
    <script th:src="@{/js/dropzone.js}"></script>
    <link rel="stylesheet" th:src="@{/css/dropzone.css}" type="text/css" />

    <!-- Turf.js 추가 -->
    <script src='https://unpkg.com/@turf/turf'></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 100vh"></div>
    <div id="loading-window">
        <div class="loading-logo" style="color:white">loading..</div>
        <div id="loading-bar"></div>
    </div>
    <div id="menu-btn" onclick="openTabmenu()">
        <i class="fas fa-solid fa-bars"></i>
    </div>
    <div id="tab" class="tab">
            <div id="mode-change-btn" onclick="toggleWhiteMode()"><i class="fas fa-solid fa-moon" id="mdicon"></i></div>
            <div class="tab-menu">
                <div class="tab-links active-white" onclick="openTab(event, 'tab1')">File Upload</div>
                <div class="tab-links" onclick="openTab(event, 'tab2')">Tools</div>
                <div class="tab-links" onclick="openTab(event, 'tab3')">Etc</div>
                <div id="tab-close" onclick="closeTabmenu()" class="tab-links"><i class="fas fa-solid fa-xmark"></i></div>
            </div>
            <div id="tab1" class="tab-content" style = "display: block;">
                <form id="frmFile" class="dropzone" action="/api/uploadShp" method="POST" enctype="multipart/form-data">
                    <i class="fas fa-solid fa-file"></i>
                    <div class="loading-logo" style="line-height: normal; ">loading...</div>
                    <div class="file-txt">  Drag your shp file here </div>
                    <div class="drop-hover">Drop file please</div>
                    <!-- <input type="file" name="shpData" id="shpData"> -->
                </form>
                <div class="recent-list">
                    <div class="recent-title">Recent List</div>
                    <div class="recent-file-list">
                        <div id="recent-file" th:each="shp : ${shpList}">
                            <i class="fa-solid fa-map"></i>
                            <div class="file-info" th:onclick="'getShpData(' + ${shp.shpId} + ')'">
                                <div class="file-tit" th:text="${shp.shpName}"></div>
                                <div class="file-date" th:text="${shp.uploadDate}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab2" class="tab-content">
                <div id="Save" class="tab2-content" title="SAVE"><i class="fas fa-solid fa-file-arrow-down tab2-icon"></i></div>
                <div id="PointChange" class="tab2-content" title="POINT CHANGE"><i class="fas fa-solid fa-up-down-left-right tab2-icon"></i></div>
            </div>
            <div id="tab3" class="tab-content">
                여러가지
            </div>
    </div>
</body>
    <script th:inline="javascript">
        mapboxgl.accessToken = /*[[${mapboxAccessToken}]]*/ '';

        var tabmenu = document.getElementById("tab");
        var tabclose = document.getElementById("tab-close")
        var menubtn = document.getElementsByClassName("menu-btn");
        var tabcontent = document.getElementsByClassName("tab-content")
        var tablinks = document.getElementsByClassName("tab-links")
        var dropHover = document.querySelector(".drop-hover");

        var lat,lng

        $(document).ready(function() {
            dropHover.ondragleave = function (e) {
                this.style.display = "none";
            }
        });

        const map = new mapboxgl.Map({
            container: "map",
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [126.88271541564299, 37.48151056694073],
            zoom: 11,
        });
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                lat = position.coords.latitude;
                lng = position.coords.longitude;

                map.setCenter([lng, lat]);

                const marker1 = new mapboxgl.Marker()
                    .setLngLat([lng, lat])
                    .addTo(map);
            });
        } else {
            const marker2 = new mapboxgl.Marker()
                .setLngLat([126.88271541564299, 37.48151056694073])
                .addTo(map);

            map.setCenter([126.88271541564299, 37.48151056694073]);
        }
        function openTabmenu() {
            for (var i = 0; i < menubtn.length; i++) {
                menubtn[i].style.display = "none";
            }
            tabmenu.style.display = "block";
            tabclose.style.display = "block";
        }
        function closeTabmenu() {
            for (var i = 0; i < menubtn.length; i++) {
                menubtn[i].style.display = "block";
            }
            tabmenu.style.display = "none";
            tabclose.style.display = "none";
        }
        function toggleWhiteMode() {
            var icon = document.getElementById("mdicon");

            if (tabmenu.style.color === "black" || tabmenu.style.color === "") {
                tabmenu.style.color = "white" // 다크 모드
                icon.classList.remove('fa-moon');
                icon.classList.add('fa-sun');
                tabmenu.style.backgroundColor = "#666";
                document.getElementsByClassName('active-white')[0].classList.add('active-dark');
                document.getElementsByClassName('active-dark')[0].classList.remove('active-white');
            } else {
                tabmenu.style.color = "black" // 화이트 모드
                icon.classList.add('fa-moon');
                icon.classList.remove('fa-sun');
                tabmenu.style.backgroundColor = "#fff"
                document.getElementsByClassName('active-dark')[0].classList.add('active-white');
                document.getElementsByClassName('active-white')[0].classList.remove('active-dark');
            }
        }

        function drawPolyline(data) {
            console.log(data);
            if (map.getLayer('lines')) {
                map.removeLayer('lines');
                map.removeSource('lines');
            }

            var tData = {
                type: 'geojson',
                data: {
                    type : 'FeatureCollection',
                    features :data.features
                }
            }

            setMapBounds(data);
            map.addSource("file-data", tData);
            map.addLayer({
                'id': 'polygons',
                'type': 'fill', // 'line' 대신 'fill'로 변경
                'source': 'file-data',
                'layout': {
                    'visibility': 'visible'
                },
                'paint': {
                    // 'fill-color': ['#1aa3ff'], // 폴리곤의 색상
                    'fill-color': [
                        'case',
                        ['boolean', ['feature-state', 'selected'], false],
                        '#007dd2', // 클릭한 폴리곤의 색상
                        '#1aa3ff'  // 클릭하지 않은 폴리곤의 색상
                    ],
                    'fill-opacity': 0.5 // 폴리곤의 투명도
                }
            });

            map.addLayer({
                'id': 'outline',
                'type': 'line',
                'source': 'file-data',
                'layout': {},
                'paint': {
                    'line-color': '#1aa3ff',
                    'line-width': 2.5
                }
            });

            map.on('click', 'polygons', function (e) {
                console.log(e.features);
                console.log(e.features[0].properties.name);
                var clickedFeature = e.features[0];
                var clickedIndex = data.features.findIndex(function (feature) {
                    return feature.id === clickedFeature.id;
                });

                // 특정 인덱스에 대한 클릭 이벤트 처리
                if (clickedIndex !== -1) {
                    // 클릭한 폴리곤의 색상을 변경
                    map.setFeatureState(
                        {source: 'polygons', id: clickedFeature.id},
                        {selected: true}
                    );

                    // 다른 폴리곤의 색상 초기화
                    data.features.forEach(function (feature, index) {
                        if (index !== clickedIndex) {
                            map.setFeatureState(
                                {source: 'polygons', id: feature.id},
                                {selected: false}
                            );
                        }
                    });
                }
            });

            map.on('mouseenter', 'polygons', () => {
                map.getCanvas().style.cursor = 'pointer';
            });

            map.on('mouseleave', 'polygons', () => {
                map.getCanvas().style.cursor = '';
            });
        }

        // dropzone 관련
        Dropzone.options.frmFile = {
            maxFilesize: 100, // 100MB로 설정 (원하는 크기로 조절)
            acceptedFiles: ".zip", // 허용할 파일 확장자를 지정
            clickable: "#frmFile, .fa-file", // 클릭 가능한 요소 추가
            paramName: "shpData",
            addRemoveLinks: true,
            init: function () {
                this.on("processing", function (file, response) {
                    // 파일 업로드 동안 수행할 동작
                    viewLoading()
                });
                this.on("success", function (file, response) {
                    // 파일 업로드 성공 시 수행할 동작
                    drawPolyline(response.data);
                    onFileHide();
                    openTab(event, 'tab2')
                    for (var i = 0; i < tablinks.length; i++) {
                        if (tablinks[i].textContent.trim() === 'Tools') {
                            tablinks[i].classList.add("active-white");
                        } else {
                            tablinks[i].classList.remove("active-white");
                        }
                    }
                    $('.file-txt, .fa-file').show();
                    $('.dz-preview, .loading-logo').hide();
                });

                this.on("error", function (file, response) {
                    // 파일 업로드 오류 시 수행할 동작
                    onFileHide();
                    $('.loading-logo').hide();
                    $('.file-txt, .fa-file').show();
                });
                this.on ("dragenter", function () {
                    $('.drop-hover').show();
                });
                // this.on ("dragend", function () {
                //     $('.drop-hover').hide();
                // });
            }
        };

        function onFileHide() { // tab menu 관련
            $('#loading-window, .drop-hover, .file-txt, .fa-file').hide();
            document.getElementById("map").style.position = "";
        }

        function openTab(event, tab) {
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("active-dark");
                tablinks[i].classList.remove("active-white");
            }
            document.getElementById(tab).style.display = "block"
            if (tabmenu.style.color === "black" || tabmenu.style.color === ""){
                event.currentTarget.className += " active-white";
            } else {
                event.currentTarget.className += " active-dark";
            }
        }

        async function getShpData(shpId) {
            viewLoading();
            $.ajax({
                url : "/api/getShp",
                type : "POST",
                data : {
                    shpId : shpId
                },
                dataType : "json",
                success : function(data) {
                    drawPolyline(data.data);

                    viewLoading();
                },
                error : function() {

                }
            });
        }

        function viewLoading() {
            $('#loading-window, .loading-logo').show();
            $('.fa-file, .drop-hover, .file-txt, .dz-preview').hide();
            document.getElementById("map").style.position = "absolute";
        }

        function setMapBounds(data) {
            var bounds = new mapboxgl.LngLatBounds();
            data.features.forEach(function (feature) {
                var coordinates = feature.geometry.coordinates[0];
                coordinates.forEach(function (coordinate) {
                    bounds.extend(coordinate);
                });
            });

            // 바운더리에 맞게 지도 조정
            map.fitBounds(bounds, { padding: 150 });
        }
    </script>
</html>

