<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mapbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/872a12cba7.js" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- mapbox -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js"></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.css' type='text/css' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.js'></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Turf.js 추가 -->
    <script src='https://unpkg.com/@turf/turf'></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="leftBox">
    <div class="custom-select">
        <div class="select-display">Select an option</div>
        <div class="options">
            <a href="#" th:each="shp : ${shpList}" th:text="${shp.shpName}" th:onclick="'getShpData(' + ${shp.shpId} + ')'"></a>
        </div>
    </div>
</div>
<div id="map" style="width: 100%; height: 100vh"></div>
<div id="loading-window">
    <div class="loading-logo" style="color:white">loading..</div>
    <div id="loading-bar"></div>
</div>
<div class="modal" id="myModal">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
        </div>
    </div>
</div>
</div>
<div id="menu-btn" onclick="openTabMenu()">
    <i class="fas fa-solid fa-bars"></i>
</div>
<div id="tab" class="tab">
    <div id="mode-change-btn" onclick="toggleWhiteMode()"><i class="fas fa-solid fa-moon" id="mdicon"></i></div>
    <div class="tab-menu">
        <div class="tab-links active-white" onclick="openTab(event, 'tab1')">레이어</div>
        <div class="tab-links" onclick="openTab(event, 'tab2')">도구</div>
        <div class="tab-links" onclick="openTab(event, 'tab3')">속성</div>
        <div id="tab-close" onclick="closeTab()"><i class="fas fa-solid fa-xmark"></i></div>
    </div>
    <div id="tab1" class="tab-content" style = "display: block;">
        <div class="padding-6-12">
            <form id="frmFile" action="/api/uploadShapeFiles" method="post" enctype="multipart/form-data">
                <label for="shpData" id="lbShpData">
                    <div id="file_intro">
                        <h4>파일을 드래그해서<br>올려주세요.</h4>
                        <p class="comment">
                            .shp, .shx, .dbf 는 필수파일입니다.
                            <br>
                            최소 위 3개의 파일을 같이 올려주세요.
                        </p>
                    </div>
                    <input name="shpData" id="shpData" type="file" multiple  style="display: none;"/>
                </label>
            </form>
            <button type="button" class="btn btn-primary btn-send" onclick="sendFiles()">전송</button>
        </div>
        <div class="layer-list">
            <h5 class="tab-title">레이어</h5>
            <div class="layer-file-list"></div>
        </div>

    </div>
    <div id="tab2" class="tab-content">
<!--        <div class="map-style-change padding-6-12">-->
<!--            <label for="map-style" class="select-label">지도 스타일</label>-->
<!--            <select name="map-styles" id="map-style" >-->
<!--                <option value="streets-v12" class="style-option">Streets</option>-->
<!--                <option value="outdoors-v12" class="style-option">Outdoors</option>-->
<!--                <option value="light-v11" class="style-option">Light</option>-->
<!--                <option value="dark-v11" class="style-option">Dark</option>-->
<!--                <option value="satellite-v9" class="style-option">Satellite</option>-->
<!--                <option value="satellite-streets-v12" class="style-option">Satellite-streets</option>-->
<!--                <option value="navigation-day-v1" class="style-option">Navigation-day</option>-->
<!--                <option value="navigation-night-v1" class="style-option">Navigation-night</option>-->
<!--            </select>-->
<!--        </div>-->
        <div class="property-info padding-6-12">
            <h5 class="tab-title">선택한 속성 정보</h5>
            <div class="property-list"></div>
        </div>
        <button class="finish-btn" onclick="finishPoint()">완 료</button>
    </div>
    <div id="tab3" class="tab-content">
        <h5 class="tab-title margin-top-10">속성 정보</h5>
        <div class="file-class">
            <div class="file-class-tit">ID</div>
            <div class="file-class-tit">지역 코드</div>
            <div class="file-class-tit">지역명</div>
            <div class="file-class-tit">시군구</div>
        </div>
        <div class="file-properties">
            <div class="file-info-list"></div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    mapboxgl.accessToken = /*[[${mapboxAccessToken}]]*/ '';

    var fileNm;
    var dataArr = [];
    var drawArr = []
    var fileNmList = [];
    var selectedShp;
    var tabmenu = document.getElementById("tab");
    var tabclose = document.getElementById("tab-close")
    var menubtn = document.getElementsByClassName("menu-btn");
    var tabcontent = document.getElementsByClassName("tab-content");
    var tablinks = document.getElementsByClassName("tab-links");
    let hoveredPolygonId = null;
    let clickedPolygonId = null;

    const mapSelect = document.getElementById('map-style');

    //
    const uploadContainer = document.getElementById('frmFile');
    const fileInput = document.getElementById('fileInput');

    uploadContainer.addEventListener('dragover', handleDragOver);
    uploadContainer.addEventListener('dragleave', handleDragLeave);
    uploadContainer.addEventListener('drop', handleDrop);


    function handleDragOver(e) {
        e.preventDefault();
        uploadContainer.classList.add('drag-over');
    }

    function handleDragLeave(e) {
        e.preventDefault();
        uploadContainer.classList.remove('drag-over');
    }

    function handleDrop(e) {
        e.preventDefault();
        uploadContainer.classList.remove('drag-over');

        const files = e.dataTransfer.files;
        if (files.length > 0) {
            fileInput.files = files;
        }
    }

    // 저장된 파일 고르는 함수
    $(document).ready(function() {
        $('.custom-select').click( function() {
            $('.options').fadeToggle();
        } )
    });

    // 맵박스 함수
    const map = new mapboxgl.Map({
        container: "map",
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [126.88271541564299, 37.48151056694073],
        zoom: 11,
    });
    var draw = new MapboxDraw({});
    map.addControl(draw, 'bottom-left')


    // 메뉴 여는 함수
    function openTabMenu() {
        for (var i = 0; i < menubtn.length; i++) {
            menubtn[i].style.display = "none";
        }
        tabmenu.style.display = "block";
        tabclose.style.display = "block";
    }

    // 메뉴 닫는 함수
    function closeTab() {
        for (var i = 0; i < menubtn.length; i++) {
            menubtn[i].style.display = "block";
        }
        tabmenu.style.display = "none";
        tabclose.style.display = "none";
    }

    // 메뉴 모드를 다크 모드 혹은 화이트 모드 바꾸는 함수
    function toggleWhiteMode() {
        var icon = document.getElementById("mdicon");
        var styleOption = document.getElementsByClassName("style-option");

        if (tabmenu.style.color === "#020202" || tabmenu.style.color === "" || tabmenu.style.color === 'rgb(2, 2, 2)') {
            // 화이트 모드에서 다크 모드로 전환 될때
            $("#tab, #map-style").css("color", "#ffffff");
            icon.classList.remove('fa-moon');
            icon.classList.add('fa-sun');
            tabmenu.style.backgroundColor = "#666";
            document.getElementsByClassName('active-white')[0].classList.add('active-dark');
            document.getElementsByClassName('active-dark')[0].classList.remove('active-white');
            for (i = 0; i < styleOption.length; i++) {
                styleOption[i].style.color = "white"
            }
        } else {
            // 다크 모드에서 화이트 모드로 전환 될때
            $("#tab, #map-style").css("color", "#020202");
            icon.classList.add('fa-moon');
            icon.classList.remove('fa-sun');
            tabmenu.style.backgroundColor = "#fff"
            document.getElementsByClassName('active-dark')[0].classList.add('active-white');
            document.getElementsByClassName('active-white')[0].classList.remove('active-dark');
            for (i = 0; i < styleOption.length; i++) {
                styleOption[i].style.color = "black"
            }
        }
    }
    // Polyline 그리는 함수
    function drawPolyline(data) {
        let count = 0;
        for (const key in dataArr) {
            if (key.indexOf(data.fileName) > -1) {count++;}
        }
        if (count > 0 ) {
            data.fileName = data.fileName+'_'+count
        }

        dataArr[data.fileName] = data

        var tData = {
            type: 'geojson',
            data: {
                type : 'FeatureCollection',
                features :data.data.features
            }
        }

        setMapBounds(data.data);

        map.addSource("data_"+data.fileName, tData);
        map.addLayer({
            'id': 'polygons_'+data.fileName,
            'type': 'fill',
            'source': 'data_'+data.fileName,
            'layout': {},
            'paint': {
                'fill-color': [
                    'case',
                    ['boolean', ['feature-state', 'hover'], false],
                    '#007dd2', // 클릭한 폴리곤의 색상
                    '#1aa3ff',  // 클릭하지 않은 폴리곤의 색상
                ],
                'fill-opacity': [
                    'case',
                    ['boolean', ['feature-state', 'hover'], false],
                    1,
                    0.5
                ]
            }
        });

        map.addLayer({
            'id': 'outline_'+data.fileName,
            'type': 'line',
            'source': 'data_'+data.fileName,
            'layout': {},
            'paint': {
                'line-color': '#1aa3ff',
                'line-width': 2.5
            }
        });

    }

    // 해당 탭을 여는 함수
    function openTab(event, tab) {
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active-dark");
            tablinks[i].classList.remove("active-white");
        }
        document.getElementById(tab).style.display = "block"
        if (tabmenu.style.color === "#020202" || tabmenu.style.color === "" || tabmenu.style.color === "rgb(2, 2, 2)"){
            event.currentTarget.className += " active-white";
        } else {
            event.currentTarget.className += " active-dark";
        }
    }

    // 열린 shp 파일(파일 이름, 파일 저장한 날)을 db에 저장하는 함수
    function saveShp(filename) {
        $.ajax({
            url : '/api/saveShp',
            type : 'POST',
            data : {
                shpName : filename
            },
            success : function (result){
                finishPoint();
                console.log(result)
                var shpId = result.shpId;

                for (var i = 0; i < dataArr[filename].data.features.length; i++) {
                    saveFeature(shpId, dataArr[filename].data.features[i], (i+1));
                }

            },
            error : function (error){
                console.log(error)
            }
        })
    }

    // 열린 shp 파일 내 Feature들을 db에 저장하는 함수
    function saveFeature(shpId, jsonObj, idx) {
        // console.log(jsonObj);
        $.ajax({
            url : '/api/saveFeature',
            type : 'POST',
            dataType: 'json',
            contentType: 'application/json', // JSON으로 데이터를 전송함을 명시
            data: JSON.stringify({
                shpId: shpId,
                seq : idx,
                jsonObject: jsonObj
            }),
            success : function (result){
                console.log(result)
            },
            complete: function(xhr, status) {
                if (status === 'error' || !xhr.responseText) {
                    console.log('Network error or empty response.');
                }
            },
            error : function (error){
                console.log(error)
            }
        })
    }

    function getShpData(shpId) {
        $.ajax({
            url : "/api/getShp",
            type : "POST",
            data : {
                shpId : shpId
            },
            beforeSend: function( ) {
                viewLoading()
            },
            complete: function( ) {
                finishLoading();
            },
            success : function(data) {
                console.log(data.data)
                data.fileName = data.shpName
                drawPolyline(data);
                createLayer(data)
            },
            error: function () {
            }
        });
    }


    // 그려진 폴리곤라인 지도 내에 한눈에 보이도록 하는 함수
    function setMapBounds(data) {
        var bounds = new mapboxgl.LngLatBounds();
        data.features.forEach(function (feature) {
            var coordinates = feature.geometry.coordinates[0];
            coordinates.forEach(function (coordinate) {
                bounds.extend(coordinate);
            });
        });

        // 바운더리에 맞게 지도 조정
        map.fitBounds(bounds, { padding: 150 });
    }

    // 로딩 화면
    function viewLoading() {
        $('#loading-window, .loading-logo').show();
        document.getElementById("map").style.position = "absolute";
    }

    // 로딩 종료
    function finishLoading() {
        $('#loading-window, .loading-logo').hide();
        document.getElementById("map").style.position = "";
    }

    // 리스트에 db에 저장된 파일 가져오는 함수
    function sendFiles() {
        var frmFile = $("#frmFile");
        // 파일 선택 input 요소
        var fileInput = frmFile.find("input[name='shpData']")[0];

        // 선택한 파일 가져오기
        var files = fileInput.files;
        var formData = new FormData();

        for (var i = 0; i < files.length; i++) {
            formData.append('shpData', files[i]);
        }

        $.ajax({
            url: '/api/uploadShapeFiles',  // 서버 엔드포인트
            type: 'POST',
            data: formData,
            processData: false,  // 필수: FormData를 query string으로 변환하지 않음
            contentType: false,  // 필수: 파일 전송에는 multipart/form-data 형식이 필요
            beforeSend: function( ) {
                viewLoading()
            },
            complete: function( ) {
                finishLoading();
            },
            success: function (data) {
                // console.log(data);
                drawPolyline(data);
                createLayer(data);
            },

            error: function (error) {
                console.error('Error uploading file:', error);
            }
        });
    }

    function removePolygon(key) {
        fileName = dataArr[key].fileName

        if (draw.getAll().length) {
            draw.deleteAll();
        }
        map.removeLayer('polygons_'+fileName);
        map.removeLayer('outline_'+fileName);

        map.removeSource('data_'+fileName);
        $("#" + fileName).remove();

        delete dataArr[key]

        if ($(".layer-file").length === 0) {
            $(".file-info-item").remove();
        }
    }

    function createLayer(data) {
        var html = "";
        if ($(".file-info").length === 0) {
            html += '<div class="layer-file selected" id=\''+data.fileName+'\'>';
            selectedLayer(data.fileName);
        } else {
            html += '<div id='+data.fileName+' class="layer-file">';
        }
        html += '<input type="checkbox" id="check_'+data.fileName+'" onclick="showHideLayer(\''+data.fileName+'\')" checked >';
        html += '<div class="file-info" onclick="selectedLayer('+data.fileName+')">';
        html += '<div class="file-tit">'+data.fileName+'</div>';
        html += '</div>';
        html += '<div class="savedelete">';
        html += '<div class="file-date" onclick="saveShp(\''+data.fileName+'\')">저장</div>'
        html += '<div class="file-date" onclick="removePolygon(\''+data.fileName+'\')">삭제</div>'
        html += '</div>';
        html += '</div>';

        $(".layer-file-list").append(html);
        fileNmList.push(data.fileName)
    }

    function selectedLayer(obj) {
        if ($(".file-info").length === 0) {
            fileNm = obj
        } else  {
            var layer = document.getElementsByClassName("layer-file");
            for (i = 0; i < layer.length; i++) {
                layer[i].classList.remove("selected");
            }
            $(obj).addClass("selected")
            fileNm = $('.selected .file-tit').text()
        }
        getProperties()
        openTab(event, 'tab3')
        if (tabmenu.style.color === "#020202" || tabmenu.style.color === "" || tabmenu.style.color === "rgb(2, 2, 2)"){
            tablinks[2].classList.add("active-white");
        } else {
            tablinks[2].classList.add("active-dark")
        }
        for (i = 0; i < fileNmList.length; i++) {
            map.on('mousemove', 'polygons_'+ fileNmList[i], function () {})
            map.on('mouseleave', 'polygons_'+ fileNmList[i], function () {})
            map.on('click', 'polygons_'+ fileNmList[i], function () {})
            map.setPaintProperty('polygons_'+fileNmList[i],'fill-color', '#1aa3ff');
            map.setPaintProperty('polygons_'+fileNmList[i],'fill-opacity', 0.5);
        }
        var opacity = ['case', ['boolean', ['feature-state', 'hover'], false], 1, 0.5]
        var color = ['case', ['boolean', ['feature-state', 'hover'], false], '#007dd2', '#1aa3ff']
        map.setPaintProperty('polygons_'+fileNm,'fill-color', color);
        map.setPaintProperty('polygons_'+fileNm,'fill-opacity', opacity);
        // 선택된 폴리곤에 대한 작업 수행
        map.on('click', 'polygons_'+fileNm, function (e) {
            selectedShp = e.features[0]
            var property = "";
            var id = selectedShp.properties.DIST1_ID;
            var info = dataArr[fileNm].data.features
            for (i = 0; i < info.length; i++) {
                if (info[i].properties.DIST1_ID === id) {
                    property = info[i]
                }
            }
            $('#'+ id).addClass("selected")

            // if ($(".polygon-properties").length > 0) {
            //     $(".polygon-properties").remove()
            // }
            // var html = "<div class='polygon-properties'> ID : "+selectedShp.properties.DIST1_ID +"<br>"+
            //     "시군구 : "+selectedShp.properties.F_NAME+"<br>"+
            //     "지역 코드 : "+selectedShp.properties.GCODE +"<br>"+
            //     "지역명 : "+selectedShp.properties.NAME +"</div>"
            // $(".property-list").append(html)

            openTab(event, 'tab2')
            if (tabmenu.style.color === "#020202" || tabmenu.style.color === "" || tabmenu.style.color === "rgb(2, 2, 2)"){
                tablinks[1].classList.add("active-white");
            } else {
                tablinks[1].classList.add("active-dark")
            }
            editShp(property)
        });

        map.on('mousemove', 'polygons_'+fileNm, (e) => {
            selectedShp = e.features
            if (selectedShp.length > 0) {
                if (hoveredPolygonId !== null) {
                    map.setFeatureState(
                        { source: 'data_'+fileNm, id: hoveredPolygonId },
                        { hover: false }
                    );
                }
                hoveredPolygonId = selectedShp[0].id;
                map.setFeatureState(
                    { source: 'data_'+fileNm, id: hoveredPolygonId },
                    { hover: true }
                );
            }
        });
        map.on('mouseleave', 'polygons_'+fileNm, () => {
            if (hoveredPolygonId !== null) {
                map.setFeatureState(
                    { source: 'data_'+fileNm, id: hoveredPolygonId },
                    { hover: false }
                );
            }
            hoveredPolygonId = null;
        });
    }

    function getProperties() {
        var info = dataArr[fileNm].data.features
        var html = ""
        if (info.length > 0) {
            $(".file-info-item").remove();
        }
        for (i = 0; i < info.length; i++) {
            html = "<div class='file-info-item' >" +
                "<div class='file-info-li' onclick='selectedProperty(this)' id ="+info[i].properties.DIST1_ID+">"+
                "<div class='info-id info-item'>"+info[i].properties.DIST1_ID+"</div>"+
                "<div class='info-gcode info-item'>"+info[i].properties.GCODE +"</div>"+
                "<div class='info-name info-item'>"+info[i].properties.NAME+"</div>"+
                "<div class='info-fname info-item'>"+info[i].properties.F_NAME+"</div>" +
                "</div>"+
                "<button type='button' class='info-btn btn-primary' data-bs-toggle='modal' data-bs-target='#myModal' onclick='changeProperties("+info[i].properties.DIST1_ID+")'>수정</button>" +
                "</div>"
            $(".file-info-list").append(html)
        }
    }

    function selectedProperty(obj) {
        var property = "";
        var id = obj.querySelector('.info-id').textContent;
        var info = dataArr[fileNm].data.features
        $(obj).parent().addClass("selected")
        for (i = 0; i < info.length; i++) {
            if (info[i].properties.DIST1_ID === id) {
                property = info[i]
            }
        }

        // if ($(".polygon-properties").length > 0) {
        //     $(".polygon-properties").remove()
        // }
        // var html = "<div class='polygon-properties'> ID : "+property.properties.DIST1_ID +"<br>"+
        //     "시군구 : "+property.properties.F_NAME+"<br>"+
        //     "지역 코드 : "+property.properties.GCODE +"<br>"+
        //     "지역명 : "+property.properties.NAME +"</div>"
        // $(".property-list").append(html)

        editShp(property)
    }
    var propertyArr = []

    function editShp(property) {
        map.removeLayer('polygons_'+(fileNm));
        map.removeLayer('outline_'+(fileNm));
        map.removeSource('data_'+(fileNm));

        var polygonArr = []
        drawArr = []

        propertyArr.push(property)

        for (i = 0; i < dataArr[fileNm].data.features.length; i++) {
            var found = false;
            for (j = 0; j < propertyArr.length; j++) {
                if (propertyArr[j].id === dataArr[fileNm].data.features[i].id) {
                    drawArr.push(dataArr[fileNm].data.features[i])
                    found = true;
                    break;
                }
            }
            if (!found) {
                polygonArr.push(dataArr[fileNm].data.features[i]);
            }
        }


        for (i = 0; i < drawArr.length; i++) {
            draw.add(drawArr[i])
        }
        var tData = {
            type: 'geojson',
            data: {
                type : 'FeatureCollection',
                features : polygonArr
            }
        }
        map.addSource("data_"+fileNm, tData);
        map.addLayer({
            'id': 'polygons_'+fileNm,
            'type': 'fill',
            'source': 'data_'+fileNm,
            'layout': {},
            'paint': {
                'fill-color': [
                    'case',
                    ['boolean', ['feature-state', 'selected'], false],
                    '#007dd2', // 클릭한 폴리곤의 색상
                    ['boolean', ['feature-state', 'hover'], false],
                    '#007dd2', // 클릭한 폴리곤의 색상
                    '#1aa3ff',  // 클릭하지 않은 폴리곤의 색상
                ],
                'fill-opacity': [
                    'case',
                    ['boolean', ['feature-state', 'hover'], false],
                    1,
                    0.5
                ]
            }
        });

        map.addLayer({
            'id': 'outline_'+fileNm,
            'type': 'line',
            'source': 'data_'+fileNm,
            'layout': {},
            'paint': {
                'line-color': '#1aa3ff',
                'line-width': 2.5
            }
        });
    }

    function finishPoint() {
        var item = document.getElementsByClassName("file-info-item");
        for (i = 0; i < item.length; i++) {
            item[i].classList.remove("selected");
        }
        if (draw.getAll().features.length > 0) {
            draw.getAll()
            for (i = 0; i < drawArr.length; i++) {
                dataArr[fileNm].data.features[drawArr[i].id-1]=draw.getAll().features[i]
            }
            map.removeLayer('polygons_'+(fileNm));
            map.removeLayer('outline_'+(fileNm));
            map.removeSource('data_'+(fileNm));
            var tData = {
                type: 'geojson',
                data: {
                    type : 'FeatureCollection',
                    features :dataArr[fileNm].data.features
                }
            }
            map.addSource("data_"+fileNm, tData);
            map.addLayer({
                'id': 'polygons_'+fileNm,
                'type': 'fill',
                'source': 'data_'+fileNm,
                'layout': {},
                'paint': {
                    'fill-color': [
                        'case',
                        ['boolean', ['feature-state', 'selected'], false],
                        '#007dd2', // 클릭한 폴리곤의 색상
                        ['boolean', ['feature-state', 'hover'], false],
                        '#007dd2', // 클릭한 폴리곤의 색상
                        '#1aa3ff',  // 클릭하지 않은 폴리곤의 색상
                    ],
                    'fill-opacity': [
                        'case',
                        ['boolean', ['feature-state', 'hover'], false],
                        1,
                        0.5
                    ]
                }
            });
            map.addLayer({
                'id': 'outline_'+fileNm,
                'type': 'line',
                'source': 'data_'+fileNm,
                'layout': {},
                'paint': {
                    'line-color': '#1aa3ff',
                    'line-width': 2.5
                }
            });
            draw.deleteAll();
            propertyArr = []
            drawArr = []
        } else {
            alert('편집된 부분이 없습니다')
        }
    }

    function showHideLayer(Nm) {
        if ($('#check_'+Nm).is(':checked') === true) {
            map.setLayoutProperty('polygons_'+Nm, 'visibility', 'visible');
            map.setLayoutProperty('outline_'+Nm, 'visibility', 'visible');
        } else {
            map.setLayoutProperty('polygons_'+Nm, 'visibility', 'none');
            map.setLayoutProperty('outline_'+Nm, 'visibility', 'none');
        }
    }

    // 지도 스타일 변경하는 함수
    // mapSelect.onchange = (change) => {
    //     const changeId = change.target.value;
    //     map.setStyle('mapbox://styles/mapbox/' + changeId);
    //     map.on('style.load', () => {
    //         for (i = 0; i < document.querySelectorAll('.file-tit').length; i++) {
    //             var Name = document.querySelectorAll('.file-tit')[i].textContent
    //             drawPolyline(dataArr[Name])
    //         }
    //     });
    // }

    function changeProperties(id) {
        $(".modal-body form").remove()
        var html =
            "<form action='method'=><label> ID  </label><input type='text' value= "+$("#"+id+" .info-id").text()+"><br>"+
            "<label> 지역 코드 </label><input type='text' value= "+$("#"+id+" .info-gcode").text()+"><br>"+
            "<label> 시군구 </label><input type='text' value= "+$("#"+id+" .info-name").text()+"><br>"+
            "<label> 지역명 </label><input type='text' value= "+$("#"+id+" .info-fname").text()+"></div></form>"
        $(".modal-body").append(html)
    }

    function finishProperties() {

    }

</script>
</html>