<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mapbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 100vh"></div>
    <div id="menu-btn" onclick="openSidebar()">
        <i class="fas fa-solid fa-bars"></i>
    </div>
    <div id="sidebar" class="sidebar">
        <div class="sidebar-menu">
            <a href="#" onclick="closeSidebar()" class="sidebar-menu-list close-side ">&times;</a>
            <div class="sidebar-menu-list file-upload"> 파일 업로드 </div>
            <div id="mode-change-btn" onclick="togglewhiteMode()"><i class="fas fa-solid fa-sun" id="mdicon"></i></div>
            <form id="frmFile">
                <input type="file" name="shpData" id="shpData">
            </form>
            <button onclick="uploadShpFile();">테스트 버튼</button>
        </div>
    </div>

    <script th:inline="javascript">
        mapboxgl.accessToken = /*[[${mapboxAccessToken}]]*/ '';

        var lat,lng;

        const map = new mapboxgl.Map({
            container: "map",
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [126.88271541564299, 37.48151056694073],
            zoom: 11,
        });
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                lat = position.coords.latitude;
                lng = position.coords.longitude;

                map.setCenter([lng, lat]);

                const marker1 = new mapboxgl.Marker()
                    .setLngLat([lng, lat])
                    .addTo(map);
            });
        } else {
            const marker2 = new mapboxgl.Marker()
                .setLngLat([126.88271541564299, 37.48151056694073])
                .addTo(map);

            map.setCenter([126.88271541564299, 37.48151056694073]);
        }
        function openSidebar() {
            document.getElementById("sidebar").style.width = "250px";
            document.getElementById("sidebar").style.marginright = "10px";
            document.getElementById("map").style.marginright = "250px";
        }

        function closeSidebar() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("sidebar").style.marginright = "0";
            document.getElementById("map").style.marginright = "0";
        }

        function togglewhiteMode() {
            var sidebar = document.getElementById("sidebar");
            var icon = document.getElementById("mdicon");
            var list = document.getElementsByClassName("sidebar-menu-list");


            for (var i = 0; i < list.length; i++) {
                list[i].classList.toggle('dark-mode');
            }
            sidebar.classList.toggle('dark-mode');
            icon.classList.toggle('fa-moon');
            icon.classList.toggle('fa-sun');
        }

        function uploadShpFile() {
            const frm = $("#frmFile")[0];
            let frmData = new FormData(frm);

            $.ajax({
                url : "api/uploadShp",
                type : "POST",
                data : frmData,
                contentType : false,
                processData: false,
                error: function() {
                    alert("error");
                }
            }).done(function (data) {
                console.log("===========성공============");
                console.log(data);
            });
        }

    </script>
</body>
</html>